.slide-container {
  position: relative;
  margin: 0 auto;
  padding: 2rem 3rem;
  padding-bottom: 5rem;
}
.post-container {
  padding: 0rem 3rem;
  padding-bottom: 7rem;
  margin: auto;
}

.section-center {
    margin: 0 auto;
    margin-top: 4rem;
    width: 90vw;
    height: 600px;
    max-width: 800px; 
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
  }

#article {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}

#article.activeSlide {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

#article.lastSlide {
    transform: translateX(-100%);
}

#article.nextSlide {
    transform: translateX(100%);
}

.prev,
.next {
  position: absolute;
  top: 250px;
  z-index: 10;
  transform: translateY(-50%);
  background: hsl(210, 22%, 49%);
  color: #fff;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.5)
}
.prev {
  left: 0;
}
.cadp {
  left:0;
  top: 200px;
  background: rgba(29, 92, 122, 0.5);
}
.cadn {
  right: 0;
  top: 200px;
  background: rgba(29, 92, 122, 0.5);
}
.next {
  right: 0;
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
